@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Red+Hat+Mono:wght@300;400;500;600;700&display=swap");
body {
  background-image: url("https://ak.picdn.net/shutterstock/videos/14827933/thumb/1.jpg");
  background-attachment: fixed;
  font-family: "red hat mono", sans-serif;
}
#background-second {
  background-color: white;
  opacity: 90%;
  padding: 0px 15px;
  margin: 50px 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
header {
  display: flex;
  /* flex-flow: row; */
  align-items: center;
  height: 300px;
}
header > div {
  text-align: center;
  text-shadow: rgb(153, 153, 151) 1px 0 10px;
}
h1 {
  text-transform: uppercase;
  font-size: 50px;
}
h2 {
  text-transform: lowercase;
  line-height:2em ;
}

header > img {
  border-radius: 50%;
  width: 500px;
  height: 500px;
  transform: scale(0.5);
  border: solid 5px;
  box-shadow: 10px 5px 5px black;
}
section > p {
  padding: 0px 30px;
  /* margin: 50px 50px; */
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 2em;
}
.second-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: 500;
  text-align: center;
  height: auto;  
}
section > div {
  padding: 10px;
  margin: 10px;
  background: rgb(206, 247, 250);
  flex: 4;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  text-shadow: rgb(153, 153, 151) 1px 1px 10px;

}
